<a href="https://colab.research.google.com/github/johyunkang/py_pandas/blob/main/datamanim_work1_game_sell.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 비디오게임 판매량 및 등급

링크 : [DataManim_비디오게임 판매량 문제](https://www.datamanim.com/dataset/03_dataq/q1/video/main.html)

### 데이터셋 설명
여러 플랫폼의 년도별 출시된 게임 데이터셋 출처 : https://mlcourse.ai/  
Name : 게임명  
Platform : 출시 플랫폼  
Year_of_Release : 출시년도  
Genre : 장르  
Publisher : 출시 업체  
{지역별}_Sales : 판매량  
User_Score : 유저스코어 (tbd : 측정 안됨)  
Developer : 개발 업체  
Rating : 이동등급()  

dataUrl =’https://raw.githubusercontent.com/Datamanim/video/master/video_games_sale.csv’

### Question 1

데이터 Url을 이용하여 df변수에 데이터를 로드하라

In [1]:
import pandas as pd

url = 'https://raw.githubusercontent.com/Datamanim/video/master/video_games_sale.csv'
df = pd.read_csv(url, index_col=0)
df.head()

                    Name Platform  ...  Rating Year_of_ten
0             Wii Sports      Wii  ...       E      2000.0
1         Mario Kart Wii      Wii  ...       E      2000.0
2      Wii Sports Resort      Wii  ...       E      2000.0
3  New Super Mario Bros.       DS  ...       E      2000.0
4               Wii Play      Wii  ...       E      2000.0

[5 rows x 17 columns]

### Question 1

video_games_sales 데이터셋(video_games_sales.csv)의 출시년도(Year_of_Release) 컬럼을 10년단위(ex 1990~1999 : 1990)로 변환하여 새로운 컬럼(year_of_ten)에 추가하고 게임이 가장 많이 출시된 년도(10년단위)와 가장 적게 출시된 년도(10년단위)를 각각 구하여라.

In [ ]:
#df.info()

df['year_of_ten'] = df['Year_of_Release'] // 10 * 10    ## //(floor division:버림 나눗셈) 소수점 이하는 버림
# df.head(10)
print('year_of_ten values_counts:\n', df.year_of_ten.value_counts())
max = df.year_of_ten.value_counts().index[0]    # value_counts()는 descing 으로 정렬해서 결과값을 리턴한다.
min = df.year_of_ten.value_counts().index[-1]
print('min:', min, ', max:', max)

year_of_ten values_counts:
 2000.0    4609
2010.0    2137
1990.0      77
1980.0       2
Name: year_of_ten, dtype: int64
min: 1980.0 , max: 2000.0

### Question 1

플레이스테이션 플랫폼 시리즈(PS,PS2,PS3,PS4,PSV)중 장르가 Action로 발매된 게임의 총 수는?

In [ ]:
# df.filter(items='Platform', like='PS', axis=1)
ans = len(df[(df['Platform'].str.contains('PS')) & (df['Genre'] == 'Action')])
print('총 수:', ans)
print('총 수 가 다른 이유는 PSP 가 포함되어 있다.')

# 다른 방법 (홈페이지 답변)
ans = len(df.loc[(df.Platform.isin(['PS','PS2','PS3', 'PS4', 'PSV'])) & (df.Genre == 'Action') ])
print('다른 답변 총 수:', ans)

df[(df['Platform'].str.contains('PS')) & (df.Genre == 'Action')].value_counts()

총 수: 690
다른 답변 총 수: 616

Name                              Platform  Year_of_Release  Genre   Publisher                    NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales  Critic_Score  Critic_Count  User_Score  User_Count  Developer       Rating  Year_of_ten  year_of_ten
inFAMOUS: Second Son              PS4       2014.0           Action  Sony Computer Entertainment  1.28      0.98      0.07      0.46         2.79          80.0          90.0          7.9         2944.0      Sucker Punch    T       2010.0       2010.0         1
Godai: Elemental Force            PS2       2002.0           Action  3DO                          0.04      0.03      0.00      0.01         0.07          27.0          10.0          3.8         19.0        3DO             T       2000.0       2000.0         1
Grand Theft Auto: Chinatown Wars  PSP       2009.0           Action  Take-Two Interactive         0.28      0.49      0.03      0.27         1.06          90.0          77.0          7.3         146.0       Rockstar Leeds  M       2000.0       2000.0         1
Grand Theft Auto V                PS4       2014.0           Action  Take-Two Interactive         3.96      6.31      0.38      1.97         12.61         97.0          66.0          8.3         2899.0      Rockstar North  M       2010.0       2010.0         1
                                  PS3       2013.0           Action  Take-Two Interactive         7.02      9.09      0.98      3.96         21.04         97.0          50.0          8.2         3994.0      Rockstar North  M       2010.0       2010.0         1
                                                                                                                                                                                                                                                                  ..
Resident Evil: Survivor           PS        2000.0           Action  Eidos Interactive            0.23      0.15      0.29      0.05         0.71          39.0          10.0          7.0         47.0        Capcom          M       2000.0       2000.0         1
Resident Evil: Revelations 2      PSV       2015.0           Action  Capcom                       0.00      0.03      0.07      0.01         0.10          65.0          12.0          7.8         63.0        Frima Studio    M       2010.0       2010.0         1
                                  PS4       2015.0           Action  Capcom                       0.13      0.24      0.10      0.07         0.55          75.0          30.0          7.7         284.0       Capcom          M       2010.0       2010.0         1
Resident Evil: Revelations        PS3       2013.0           Action  Capcom                       0.14      0.29      0.22      0.09         0.74          74.0          30.0          7.2         204.0       Capcom          M       2010.0       2010.0         1
007: Quantum of Solace            PS3       2008.0           Action  Activision                   0.43      0.51      0.02      0.19         1.14          65.0          42.0          6.6         47.0        Treyarch        T       2000.0       2000.0         1
Length: 690, dtype: int64

### Question 2

게임이 400개 이상 출시된 플랫폼들을 추출하여 각 플랫폼의 User_Score 평균값을 구하여 데이터프레임을 만들고 값을 내림차순으로 정리하여 출력하라

In [16]:
df_over_400 = df.Platform.value_counts()[df.Platform.value_counts() >= 400].index
print(df_over_400)

ans = df.loc[df.Platform.isin(df_over_400)].groupby('Platform')['User_Score'].mean().sort_values(ascending=False).to_frame()
print(ans)

Index(['PS2', 'X360', 'PS3', 'PC', 'XB', 'Wii', 'DS'], dtype='object')
          User_Score
Platform
PS2         7.664386
XB          7.540708
PC          7.060369
DS          7.047198
Wii         6.903758
PS3         6.782705
X360        6.780769

### Question 3

게임 이름에 Mario가 들어가는 게임을 3회 개발한 개발자(Developer컬럼)을 구하여라

In [28]:
target = df[df.Name.str.contains('Mario')].Developer.value_counts()
print(target)

ans = list(target[target == 3].index)
print('답:', ans)

Nintendo                                                        17
Camelot Software Planning                                        6
Hudson                                                           6
Intelligent Systems                                              4
Nintendo, Nd Cube                                                3
Nintendo, Nintendo Software Technology                           3
Next Level Games                                                 2
Hudson Soft                                                      2
Square Enix                                                      2
Nintendo, Camelot Software Planning                              1
Fuse Games Limited                                               1
Nintendo EAD Tokyo                                               1
Retro Studios, Entertainment Analysis & Development Division     1
Nintendo, Intelligent Systems                                    1
Namco Bandai Games                                               1
Nd Cube                                                          1
Namco                                                            1
Name: Developer, dtype: int64
답: ['Nintendo, Nd Cube', 'Nintendo, Nintendo Software Technology']

### Question 4

PS2 플랫폼으로 출시된 게임들의 User_Score의 첨도를 구하여라

In [32]:
ans = df[df.Platform == 'PS2'].User_Score.kurtosis()
print('답:', ans)

답: 2.4920035946875965

### Question 5

각 게임별 NA_Sales,EU_Sales,JP_Sales,Other_Sales 값의 합은 Global_Sales와 동일해야한다. 소숫점 2자리 이하의 생략으로 둘의 값의 다른경우가 존재하는데, 이러한 케이스가 몇개 있는지 확인하라

In [40]:
# boolean 타입의  True 는 1로 인식하기에 둘의 값이 다른 경우의 합을 구해서 숫자를 구함
ans = (df[['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']].sum(axis=1) != df['Global_Sales']).sum()
print('ans:', ans)

ans: 3636

### Question 6

User_Count컬럼의 값이 120 이상인 게임들 중에서 User_Score의 값이 9.0이상인 게임의 수를 구하여라

In [44]:
ans = ((df['User_Count'] >= 120) & (df['User_Score'] >= 9.0)).sum()
print('ans:', ans)

ans: 86

### Question 7

Global_Sales컬럼의 값들을 robust스케일을 진행하고 40이상인 데이터 수를 구하여라

In [45]:
from sklearn.preprocessing import RobustScaler

rb = RobustScaler()
rb_fit = rb.fit_transform(df.Global_Sales.values.reshape(-1, 1))
ans = len(rb_fit[rb_fit >= 40])
print('ans:', ans)

ans: 6