<a href="https://colab.research.google.com/github/johyunkang/py_pandas/blob/main/excel_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas 를 이용한 엑셀 문서 편집 방법

### 1. 엑셀 문서를 불러오기 위한 드라이브 마운트

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

### 2. 엑셀 파일 경로 설정

In [1]:
import pandas as pd
PATH = '/content/drive/MyDrive/colab/'

df = pd.read_excel(PATH + 'raw_file.xlsx')
df.head()

  name    bs_ymd  site_nm site_nm1 site_nm2  cnt
0  손나은  20210222  samsung  samsung      NaN  1.0
1  성유리  20210222      hld      hld      NaN  1.0
2   현아  20210222      ksp      ksp      NaN  1.0
3   나연  20210222      bnk      bnk      NaN  1.0
4   다연  20210222       mg       mg      NaN  1.0

### 3. 문서 확인 및 편집

In [2]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      25 non-null     object
 1   bs_ymd    25 non-null     int64
 2   site_nm   25 non-null     object
 3   site_nm1  25 non-null     object
 4   site_nm2  4 non-null      object
 5   cnt       25 non-null     float64
dtypes: float64(1), int64(1), object(4)
memory usage: 1.3+ KB

             bs_ymd        cnt
count  2.500000e+01  25.000000
mean   2.021022e+07   0.960000
std    8.164966e-01   0.138444
min    2.021022e+07   0.500000
25%    2.021022e+07   1.000000
50%    2.021022e+07   1.000000
75%    2.021022e+07   1.000000
max    2.021022e+07   1.000000

### 3.1 데이터프레임의 컬럼 타입 변경

In [9]:
df = df.astype({'bs_ymd':'object'})  # bs_ymd 컬럼 타입을 int > object 로 변경
#df.info()

df.head(5)

df_grp = df.groupby(by=['bs_ymd', 'name']).count()  # bs_ymd, name 컬럼 기준으로 group by
# df_grp.head(20)
df.head(10)

  name    bs_ymd  site_nm site_nm1 site_nm2  cnt
0  손나은  20210222  samsung  samsung      NaN  1.0
1  성유리  20210222      hld      hld      NaN  1.0
2   현아  20210222      ksp      ksp      NaN  1.0
3   나연  20210222      bnk      bnk      NaN  1.0
4   다연  20210222       mg       mg      NaN  1.0
5   아린  20210222      nps      nps      NaN  1.0
6   효리  20210222       lg      ksp       lg  1.0
7  아이유  20210222      nps      nps      NaN  1.0
8  손나은  20210223  samsung  samsung      NaN  1.0
9  성유리  20210223       kb       kb      NaN  1.0

## 3.2 DataFrame 현재 row 와 다음 row 비교
### DataFrame 및 Series shift

In [14]:
# df_grp = df_grp.reset_index(level=['bs_ymd', 'name']) # index 를 column 으로 변경
df_grp.head(20)

df_merge = pd.merge(df, df_grp, on=['bs_ymd', 'name']).copy()

# dataframe merge 오류. 공부해라!!!
df_merge = df_merge['bs_ymd', 'name', 'site_nm_x', 'site_nm_y']

df_merge.head(20)

KeyError: ignored

In [5]:
df_grp_shift = df_grp[['bs_ymd', 'name']].shift(8) # 아래 row 와 비교하기 위한 8행 shift
df_grp_shift.head(10)

       bs_ymd name
0         NaN  NaN
1         NaN  NaN
2         NaN  NaN
3         NaN  NaN
4         NaN  NaN
5         NaN  NaN
6         NaN  NaN
7         NaN  NaN
8  20210222.0   나연
9  20210222.0   다연