<a href="https://colab.research.google.com/github/johyunkang/py_pandas/blob/main/excel_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas 를 이용한 엑셀 문서 편집 방법

### 1. 엑셀 문서를 불러오기 위한 드라이브 마운트

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### 2. 엑셀 파일 경로 설정

In [3]:
import pandas as pd
PATH = '/content/drive/MyDrive/colab/'

df = pd.read_excel(PATH + 'raw_file.xlsx')
df.head()

  name    bs_ymd  site_nm site_nm1 site_nm2  cnt
0  손나은  20210222  samsung  samsung      NaN  1.0
1  성유리  20210222      hld      hld      NaN  1.0
2   현아  20210222      ksp      ksp      NaN  1.0
3   나연  20210222      bnk      bnk      NaN  1.0
4   다연  20210222       mg       mg      NaN  1.0